# Ignore local virtualenvs and caches under volumes
volumes/bin/.venv-*/
volumes/newdata/processed/
volumes/openai.key
.env
volumes/images/
volumes/notesdb/*.db
volumes/ocr/
volumes/txt/
volumes/images/
volumes/newdata/
volumes/notesdb/
volumes/models/
volumes/models/
*.sqlite
*.db
*.log
__pycache__/
.pytest_cache/
*.pyc
